*
{
   margin: 0;
   padding: 0;
  
}
body , html
{
  font-family: 'Trocchi', serif;
  scroll-behavior: smooth; 
  

}
#nav-bar
{
   position:sticky;
   top:0;
   z-index:10;
   color: #000;
   
}
.navbar
{
   background-image: linear-gradient(to right,crimson,#030303);
   padding:0 !important;
   font-size: 105%;
   font-weight: bold;
   
}

.navbar a:hover 
{
    color:black;
}
.navbar a::before
{
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color:black;
}

.nav-link
{
    transition: 0.3s ease;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
}

.nav-link:hover
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 6px 0; 
}

.navbar a:hover::before 
{
    right: 0;
    left: 0;
}

/*----------Home section----------*/

#Home
{
     /* background-image: linear-gradient(to right,black,black); */
     color:#fff;
     padding-top:0;
     background-image: linear-gradient(to top,rgb(0, 0, 0),crimson);
     /* border: 1px solid red; */
     height: 65vh;
     position: relative;
}

#Home img{
  
    /* border: 2px solid green; */
}


.main-title
{
    font-size:3.5vw;
    font-weight:600;
    /* margin-top:100px; */
    padding-top: 20vh; 
    text-align:center; 
    color: silver;
    font-family: comic sans ms;
     
     
}
.bottom-img
{
    width:100%;
    position: absolute;
    bottom: 0;
}
/*----------About section----------*/

#About
{
   padding:80px; 
   text-align:center;
  
   
}


#About p
{
    color:black;
    font-size: 120%;
    font-weight: 700;
    padding-top: 30px;
    
}
.container h1
{
    padding:25px;
    margin-top:10px;
    text-transform:uppercase;
    color:crimson;
    font-weight: bold;
    
     
    
}

/*----------Skills section----------*/


#Skills
{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    
}

/*----------Contact section----------*/


#Contact
{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    background:white;
    
}

.mail
{
   padding-top: 10%;
   color: black;
   font-weight: 600;
}

.address
{
    padding-top: 10%;
    color: black;
    font-weight: 600;
}

.number
{
    padding-top: 10%;
    color: black;
    font-weight: 600;
}

.ed
{
    padding-top: 12%;
    font-weight: 900;   
    font-size: 130%;
    color: black;
}

.ad
{
    padding-top: 20%;
    font-weight: 900;
    font-size: 130%;
    color: black;
}

.cn
{
    padding-top: 20%;
    font-weight: 900;
    font-size: 130%;
    color: black;
}

.card-deck
{
    padding-top: 10px;
}

/*----------Footer section----------*/
.footer
{
    background-image: linear-gradient(to bottom,crimson,#030303);
    padding-top: 25px;
    padding-bottom: 20px;

}

.footer p
{
    color:black;
    font-weight: 700;
    text-align: center;
}


/* Tablets */
@media only screen and (max-width: 768px){

    .main-title {
        font-size: 35px;
    }
}
/* Phones */
@media only screen and (max-width: 480px){

    .main-title {
        font-size: 20px;
    }
}





