*
{
   margin: 0;
   padding: 0;
}
body 
{
  font-family:sans-serif;
}
#nav-bar
{
   position:sticky;
   top:0;
   z-index:10;
   
}
.navbar
{
   background-image: linear-gradient(to right,#d5e1eb,#030303);
   padding:0 !important;
     
}

/*----------Home section----------*/

#Home
{
     /* background-image: linear-gradient(to right,black,black); */
     color:#fff;
     padding-top:0;
     background-color: black;
     height: 65vh;
     position: relative;
}

#Home img{
    position: absolute;
    bottom: 0;
    /* border: 2px solid red; */
}

#Home div p {
    position: absolute;
    top: 12%;
    left: 37%;
}
.main-title
{
     font-size:40px;
     font-weight:600;
     margin-top:100px;
     text-align:center;
     color:#C0C0C0;
     
     
}
.bottom-img
{
    width:100%;
}
/*----------About section----------*/

#About
{
   padding:80px; 
   text-align:center;
   background:
   
}
.container h1
{
    padding:25px;
    margin-top:10px;
    text-transform:uppercase;
    color:blue;
    font-family: arial verdana;
    
}

/*----------Skills section----------*/


#Skills
{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    background-image: linear-gradient(to right,#030303,#d5e1eb);
    
}

/*----------Contact section----------*/


#Contact
{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    background:white;
    
}
